<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SqlConnection.Properties.Settings.BinaryDataConnectionString"
            connectionString="Data Source=SERVIDOR-PC\SQLEXPRESS;Initial Catalog=BinaryData;Persist Security Info=True;User ID=Chipre;Password=Chipre"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>